			@font-face {
				font-family: 'avenir';
				font-style: normal;
				src: url('/plantengineering/wp-content/uploads/useanyfont/170307072725Avenir.eot');
				src: local('avenir'), url('/plantengineering/wp-content/uploads/useanyfont/170307072725Avenir.eot') format('embedded-opentype'), url('/plantengineering/wp-content/uploads/useanyfont/170307072725Avenir.woff') format('woff');
			}
            
            .et_gf_avenir{background:none !important;font-family:avenir;text-indent:0 !important;font-size:25px;}
            
		