			@font-face {
				font-family: 'avenir';
				font-style: normal;
				src: url('/plantengineering/wp-content/uploads/useanyfont/170307072725Avenir.eot');
				src: local('avenir'), url('/plantengineering/wp-content/uploads/useanyfont/170307072725Avenir.eot') format('embedded-opentype'), url('/plantengineering/wp-content/uploads/useanyfont/170307072725Avenir.woff') format('woff');
			}
            
            .avenir{font-family: 'avenir' !important;}
            
						body{
					font-family: 'avenir' !important;
				}
		